#
# Patterns matching files that git should ignore
#

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

#
# Automatic backup files
#
*~
*.swp

#
# Patch & Diff files
#
*.diff
*.patch
*.orig
*.rej

#
# Specifically, don't ignore these files
#
!.gitignore
